[2018-04-24 16:12] tomwilkie opened #1 "Delete vendor/.tmp directory after run."

[2018-04-24 16:13] tomwilkie opened #2 "Want `jb update` command, to fetch new versions of everything."

[2018-04-25 18:29] metalmatze opened #3 "jb init on existing project"
Running `jb init` on existing project completely overrides the `jsonnetfile.json` with an empty one.

Should it just fail or rather ask for permission if the file already exists?

[2018-04-26 07:01] brancz commented on #3
that behavior is the same as many other tools, but I agree that at least it should ask whether it should override an existing file

[2018-04-26 15:22] tomwilkie opened #4 "panic: runtime error: slice bounds out of range"
[code]

[2018-04-28 16:17] #4 closed

[2018-04-28 20:40] brancz opened #6 "Lock file incorrectly built"
Transitive dependencies are not correctly propagated to the lock file, only the original dependency currently ends up in the lock file with its latest version.

[2018-04-28 21:36] brancz opened #7 "Install from lock file when present"
Currently dependencies are always installed from the `jsonnetfile.json` file, even when a lock file is present.

[2018-04-30 19:20] brancz opened #8 "local directory as package source"
While developing it would be nice to be able to have a package from a local directory, so changes don't have to be committed in order to try them. Currently git repositories can be local remotes, but that requires each change to be committed in order to try it.

[2018-05-01 13:58] metalmatze commented on #6
Do we really to put transitive deps in the lock file too? I mean we already pin the direct dependencies. So it would only be a cache in some way?

[2018-05-08 11:48] tomwilkie commented on #2
Turns out a bare `jb install` does this.

[2018-05-08 11:48] #2 closed

[2018-06-11 09:45] mxinden opened #11 "Don't change/modify jsonnetfile.json jsonnetfile.lock.json if there is nothing to do"
When running `jb install` on a given project multiple times with no changes, both the `change` as well as `modify` file timestamp of `jsonnetfile.json` and `jsonnetfile.lock.json` are changed. The content as well as meta-data of these files stay the same.

**How to reproduce**:

[code]

**Why would this be needed**:

GNU Make uses timestamps of a recipes prerequisites in order to determine whether

[2018-08-08 08:13] janwillies commented on #3
The overwriting has been a huge problem with `helm create foo`, I would prefer a warning too

[2018-08-08 08:41] #3 closed

[2018-08-08 12:39] metalmatze commented on #6
I think this is resolved now, is it?

[2018-08-08 12:40] metalmatze commented on #1
I've never seen this `.tmp/` being left over in the last month. I guess this is resolved?

[2018-08-08 12:54] brancz commented on #6
It is, thanks for pointing out.

[2018-08-08 12:54] #6 closed

[2018-08-08 13:13] brancz commented on #7
This is now fixed.

[2018-08-08 13:13] #7 closed

[2018-08-13 09:59] michaelpietzsch opened #16 "JB Update Failing"
Hi Guys,

im having a strange issue with JB.

When i run a JB Update i get an error like this

`$jb update
Error parsing commandline arguments: expected command but got "update"
jb: error: expected command but got "update"`

Ive already tried a jb reinstall?
Any ideas on how i could debug this error?

Regards Michael

[2018-08-13 10:57] #16 closed

[2018-08-13 10:57] michaelpietzsch commented on #16
Old JB Version installed / go get -u github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb solves the issue

[2018-09-22 03:52] intelfx opened #18 "Perform `git pull` instead of `git clone` on update"
Each subsequent invocation of `jb update` performs a complete `git clone` of all dependencies. This is suboptimal and works contrary to the Git's central idea. `jb` should be doing a pull instead.

[2018-09-24 09:06] metalmatze commented on #18
The problem with the current implementation is, that it clones the repositories to `.tmp` and then copies the contents of a cloned repository to `vendor/`. This essentially throws away all git related files, once `.tmp` gets deleted.
@tomwilkie has an open PR on using a cache #9.

[2018-10-02 13:38] metalmatze opened #19 "`jb update` should be able to take a repo as argument"
When running `jb update` we should be able to pass an argument to the CLI command with the specific repo we want to update. This will prevent all over dependencies to be updated every time `jb update` is run.

/cc @squat

[2018-10-02 13:46] metalmatze opened #20 "Dependencies on local directories"
jb should better handle having dependencies on local directories.

Example:

https://github.com/coreos/prometheus-operator/blob/aa374c3f63914455673e8079b613fe8f55c440e2/contrib/kube-prometheus/jsonnetfile.json#L7-L8

Currently for this to work, one has to make a commit and only then jb is able to vendor the new commit as dependency.

[2018-10-02 13:47] metalmatze commented on #20
/cc @squat @brancz

[2018-10-20 16:37] intelfx opened #21 "Relative local path dependencies are interpreted relative to cwd and not the containing jsonnetfile location"
[code]

As you can see, jb tries to clone `/home/intelfx/a/b/../../` which is my dotfiles repo instead of interpreting `../../` relative to `github.com/coreos/prometheus-operator/contrib/kube-prometheus` and doing the right thing.

[2018-10-27 09:00] intelfx commented on #21
As @brancz pointed out in coreos/prometheus-operator#2035, it was me being stupid and `jb` is probably not designed for using relative source pathes in `jb install`-able packages at all.

[2018-11-28 02:17] mrgleeco opened #22 "how to achieve .jbignore"
hello - as a fan & user, wondering if this functionality exists:
in some cases, having certain files omitted from the bundle is desirable.  An ignore file -a la `.gitignore` seems useful & general purpose enough.  If this is doable today, i'm listening!
If it should be a feature request, let us know!

[2018-11-28 13:39] metalmatze commented on #22
When `jb install` or `jb update` is run it simply clones the repository and then does a checkout of that revision (specified in `jsonnetfile.json` or `jsonnetfile.lock.json`). Those contents are then copied to your projects `vendor/`.

If you do commit these files to your repository (I don't have seen a project yet which does this for jsonnet-bundler dependencies) I currently don't see a use case

[2018-12-04 20:40] bwillcox opened #23 "jsonnet-bundler not installing on ubuntu-18.04"
The following go command was documented [here](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus/README.md#customizing-kube-prometheus) for installing jsonnet-bundler; however, the go command returns no error indication, but the jb command appears unavailable despite the apparent success. Any ideas?

ubuntu % go get -v github.com/jsonnet-bundler/jsonnet-bundler/cmd/

[2018-12-05 14:03] metalmatze commented on #23
If the `go get` command doesn't finish with an error everything should have worked properly. Do you have `$GOPATH/bin` in your `$PATH` though? That is mandatory for `jb` to work everywhere on your system.
You can find out your `$GOPATH` by running `go env`.

[2018-12-05 16:01] bwillcox commented on #23
yep adding $GOPATH/bin to my PATH fixed it; thank you!

[2019-02-21 22:29] gouthamve opened #24 "Make a release"
I'm doing a training and it would be super useful to have ready made binaries for those that don't have go installed.

[2019-03-04 14:34] metalmatze commented on #24
I wouldn't mind cutting a `v0.1.0`. I guess for now the most simple solution would be to just upload binaries from who ever builds them?

[2019-04-23 12:34] brancz commented on #24
didn't see this, but happy to cut v0.1.0 from current master and upload artifacts "manually" for now

[2019-04-23 15:53] metalmatze commented on #24
We have v0.1.0. https://github.com/jsonnet-bundler/jsonnet-bundler/releases/tag/v0.1.0
This is release was made especially for @gouthamve. Have fun. :smile:

[2019-04-23 15:53] #24 closed

[2019-05-16 09:19] glindstedt opened #30 "jsonnetfiles not updated when installing new bundles"
## Steps to reproduce

[code]

### Expected results

Both `jsonnetfile.json` and `jsonnetfile.lock.json` includes both bundles.

### Actual results

Only the first installed bundle is present in `jsonnetfile.json` and `jsonnetfile.lock.json`

### Version

Experienced using current master, commit 080f157c7fb85ad0281ea78f6c641eaa570a582f

[2019-06-03 13:05] metalmatze commented on #30
Yes. I can confirm this. This is definitely a bug we should fix.

[2019-07-10 21:53] davidovich opened #31 "Tests are not being run currently"
The current makefile uses `go test -i $(PKGS)` which disables the running of tests.

From go help test:

[code]

[2019-07-12 09:37] #31 closed

[2019-07-23 16:36] davidovich opened #33 "git output is verbose about detached head"
The current implementation checkouts a specific version which results in a detached HEAD git mode. Git is very verbose about it.

This is an implementation detail and IMHO should not be output when issuing jb install.

There is a simple solution with a PR coming up.

[2019-07-23 19:38] #33 closed

[2019-07-26 14:53] davidovich opened #37 "feature: allow cloning operations to be parallel"
Git clones of many repositories is a good candidate for parallelization; they are distinct and don't need inter-repo synchronization.

Using parallel git clones would enhance download performance.

[2019-08-26 08:43] paulfantom opened #39 "panic when executing `jb install`"
I used `jb` from master branch (commit [c734431](https://github.com/jsonnet-bundler/jsonnet-bundler/commit/c734431ebd93240a3ab1ceb9a8fca61ec07181fe)) and got following error:
[code]

It doesn't happen when using release binary.

[2019-08-29 12:53] metalmatze commented on #39
This will happen when you don't have the latest revision of jb and still try to use local dependencies.
[code]
Let me know if this persists afterwards.

[2019-08-29 13:04] paulfantom commented on #39
[code]

That's what I did in the first place :)

[2019-08-29 13:25] metalmatze commented on #39
interesting. So what `jsonnetfile.json` and `jsonnetfile.lock.json` caused this? How can we reproduce this?

[2019-08-29 13:40] paulfantom commented on #39
That was at https://github.com/openshift/cluster-monitoring-operator/pull/456. But it was my mistake, I ran `go get -u github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb` while having go modules enabled and being in `github.com/openshift/cluster-monitoring-operator` directory :man_facepalming:

[2019-08-29 13:40] #39 closed

[2019-08-29 13:50] metalmatze commented on #39
Glad it was nothing major then. :)

[2019-09-12 19:26] carlosedp opened #40 "Running "jb install" updates all packages listed on jsonnetfile.json"
Whenever I run `jb install [package]`, it updates all packages and it's dependencies that are listed on `jsonnetfile.json`.

[2019-10-03 13:58] bgagnon opened #41 "jsonnet.file.lock ordering should be stable and deterministic"
This is necessary to keep sane diff and Git commit histories, and simplifies manual pinning of versions. A simple solution would be to alpha-sort the dependencies array before writing out the JSON file.

[2019-10-03 14:00] bgagnon commented on #37
Now that package installation has many forms, I think we can generalize this feature as "parallel package installs".

[2019-10-10 15:37] metalmatze commented on #37
Sounds like a nice feature. How would we visualize this in the terminal?

[2019-10-10 15:38] metalmatze commented on #41
It should be stable in a way that it always iterates over the items in the `jsonnetfile.json` in the same order.

[2019-10-10 20:31] bgagnon commented on #41
The problem is not so much the direct dependencies, but the transitive ones. This partially ordered set can vary over time. The current implementation causes thing to shift around any time a direct or indirect dependency is bumped.

[2019-10-12 01:06] cameronbraid opened #43 "Unable to install bare files"
jb installed from

```go get github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb```

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-10-14 09:12] metalmatze commented on #43
It doesn't work because `github.com/ksonnet/ksonnet-lib/ksonnet.beta.3/k.libsonnet` is a file. jb expects that you install folders and you can see how the file gets but into the lock file as folder:
[code]

You can simply `jb install github.com/ksonnet/ksonnet-lib` the entire repository and then it'll show up in the vendor folder. Installing subfolders works too, but installing files doesn't and i

[2019-10-14 12:36] cameronbraid commented on #43
Thanks for pointing that out, i'm new to jsonnet

[2019-10-14 14:55] sh0rez commented on #43
Huh, @metalmatze it was able to install a single file before:

[code]
And then install `k.libsonnet`:
[code]
The file is there:
[code]

The `jsonnetfile.json` remains empty though. This was on c734431ebd93240a3ab1ceb9a8fca61ec07181fe.

[2019-10-14 14:59] sh0rez commented on #43
While it appears that this was not intentionally supported, it might be a nice thing to support, especially if you only need a single file from a repository.

[2019-10-22 11:46] nabadger opened #45 "Creating a new release?"
Would it be possible to have a new release?

There's quite a few changes since v0.1.0 and pre-built binaries are really nice :)

Many thanks

[2019-10-22 20:39] davidovich opened #46 "Github ETag doesn't seem to provide the sha1 anymore"
The tar file download optimization seems to be broken:

[code]

#38 added an optimization to download a tar from the github server. This optim uses the [Etag](https://github.com/jsonnet-bundler/jsonnet-bundler/pull/38/files#diff-f3708aa6fdbaa2ed2eb6897499e0941fR62-R65) to resolve the sha1 of the dependency. Since it seems that github is no longer returning the sha in it's Etag, the optimisation is

[2019-10-23 10:17] standaloneSA opened #47 "Unable to install packages - pathspec 'master' did not match any file(s) known to git"
On a CentOS 7 machine with the most recent version of jb installed through 'go get  github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb', with git version 2.16.5

Trying to install kube-prometheus in this case, via

\#jb install github.com/coreos/prometheus-operator/contrib/kube-prometheus/jsonnet/kube-prometheus

I get

[code]

Same error with every other bundle I've tried installing, where the pat

[2019-10-23 11:19] gerrit8143 commented on #47
looks like the etag value is SHA256 and not SHA1

[2019-10-23 11:34] gerrit8143 commented on #47
@standaloneSA the 0.1.0 release works fine

[2019-10-23 14:19] bgagnon commented on #47
Indeed, the archive download optimization is currently broken as described in #46. However, the fallback to `git` should still function.

So this bug is still unaccounted for:

[code]

Any idea what is causing it, @gerrit8143?

[2019-10-24 16:07] #46 closed

[2019-10-24 16:11] bgagnon commented on #47
The etag problem was fixed in #49 but the other part of this issue still has no explanation or fix.

[2019-10-25 02:39] davidovich opened #50 "Archive optimisation does not restore symlinks"
Symlinks are not restored from tar archive, which leaves the extracted result incomplete.

[2019-10-25 07:50] #50 closed

[2019-10-29 09:19] metalmatze commented on #45
I guess we could do another one. However I want to make sure that the latest changes with e-tags are stable. :)

[2019-10-30 20:51] brancz commented on #20
Indeed, closed by #36.

[2019-10-30 20:51] #20 closed

[2019-10-31 10:15] #30 closed

[2019-10-31 10:15] #41 closed

[2019-10-31 10:46] sh0rez commented on #8
#36

[2019-10-31 11:28] #8 closed

[2019-11-04 14:58] davidovich opened #52 "Latest master from #44 breaks jsonnet-bundler"
I haven't investigated very far yet, but the current master 7fc7c31856f96b7215796e7126e6a5f3303b7214 breaks jsonnet-bundler.

previous commit 766a0c7fd824e8c10e1a8860cd5fd409661b73ea works.

`jb install` produces an empty vendor directory.

As for `jb update`:

[code]

The archive is downloaded (to .tmp), then wiped, and the vendor dir stays empty.

Will try to dig deeper in the next few days.

[2019-11-04 15:14] sh0rez commented on #52
Hi, could you share the exact command you tried to install that package with?

Experienced a similar issue during development of the mentioned changes as well but they seemed to be related to malformed / moved packages

[2019-11-04 15:55] davidovich commented on #52
Starting from an existing jsonnet installation, `jsonnetfile.json`:

[code]

`jb install`:

[code]

[code]

[2019-11-04 16:03] sh0rez commented on #52
Huh, I cannot reproduce this:
https://asciinema.org/a/55wUdd245JtKRzVkQfDBpVqJm

Could you verify you are actually on the lastest `master` build?

Btw, installing `ksonnet/ksonnet-lib` at the root dir is not really a package, the `jsonnetfile.json` is missing. Their packages seem to be located under the `ksonnet.beta.X` folders ;)

[2019-11-04 18:02] davidovich commented on #52
This seems transient, I have not been able to reproduce.

I work from [WSL](https://docs.microsoft.com/en-us/windows/wsl/faq) on Windows. Sometimes I have observed that some files are locked for renaming, and I believe jsonnet-bundler is eating away the underlying error.

I was in a WSL native path (inside linux) and this was happening when working with files from VSCode. When I close every instan

[2019-11-04 18:02] #52 closed

[2019-11-06 05:47] karancode opened #53 "[Feature request] jb version"
Hello,

I wanted to know is there a way to check which version of `jb` we are using. Is there a way to check it ? Something like `jb -v`.

Also, what is the way to update the `jb` version itself ?
I have installed `jb` using
[code]

PS : New to golang (`go get`) so not sure about this.

[2019-11-06 17:19] davidovich commented on #53
jsonnet-bundler does not have this at the moment, but you can use the go tooling to output version info:
[code]
output:

[code]

`jb -v` is implementable with the go `"runtime/debug"` package with the [`debug.ReadBuildInfo()`](https://golang.org/pkg/runtime/debug/#ReadBuildInfo) function (new in go 1.12).

Outside of a go.mod enabled directory (so go get does not modify your dependencies):
[code]

[2019-11-06 17:26] davidovich opened #55 "jb install: jsonnetfile.json should not be written if not modified"
Currently, jsonnetfile is [written unconditionally](https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/cmd/jb/install.go#L67-L72) at each install, even if no new dependencies were introduced (bare `jb install`).

This breaks some Makefile driven workflows as targets depending on `jsonnetfile.json` will always be out of date.

I can make a small PR to fix this if there is interest.

[2019-11-06 17:29] sh0rez commented on #55
Duplicate of https://github.com/jsonnet-bundler/jsonnet-bundler/issues/11 actually 😛

On my list of small fixes I wanted to do but happy to hand this off to you as well :D

[2019-11-06 17:36] davidovich commented on #55
Ok, PR coming. I'll close as duplicate.

[2019-11-06 17:36] #55 closed

[2019-11-07 03:41] hangxie opened #57 "install/update does not support tag"
It works fine with branch though, to reproduce the problem:

1. fork https://github.com/anguslees/kustomize-libsonnet
2. create branch `test-branch` and tag `test-tag` without code change, so they are all the same as `master`
3. try to install with different "versions":
* master works fine:
[code]
* branch works fine:
[code]
* tag does not work:
[code]

Just in case it matters:
[code]

I went thro

[2019-11-08 14:36] #11 closed

[2019-11-08 15:35] davidovich commented on #57
I believe this can be closed by #58 being merged.

[2019-11-08 15:47] #57 closed

[2019-11-08 16:33] hangxie commented on #57
Would you please cut a release like v0.1.1? We may heavily rely on jb so prefer to have a stable version to use.

[2019-11-12 09:36] metalmatze commented on #53
Very nice. We can start support the built in feature, once Go 1.14 drops and we can get rid of Go 1.11 and depend on Go 1.12+.

We could do something with build flags, like passing the commit, but that doesn't work with pure go get...

[2019-11-13 18:00] hangxie opened #61 "vendor directory structure like golang"
I'm curious that why jb does not do vendor directory like golang does, i.e. `vendor/github.com/anguslees/kustomize-libsonnet`? Then `import` can just do golang way like `import 'github.com/anguslees/kustomize-libsonnet/kustomize.libsonnet'` with help of `-J vendor` to guarantee uniqueness.

Or there is already a way to reach this? I tried to change `name` in jsonnetfile.json but it does not work.

[2019-11-15 14:57] metalmatze commented on #61
Thanks for opening this issue. This is actually something that @brancz and I discussed not even a week ago again. From my perspective this would be something I'd really like! :blush:

[2019-11-15 15:48] sh0rez commented on #61
That's cool! Especially because libraries are now **uniquely identified** at import time ... the source code is self-documentary for the location of the library

[2019-11-16 00:14] brancz commented on #61
I think this would actually be pretty nice. I initially wanted to solve ambiguity with a registry but were far enough into it that I don’t think that that’s actually happening. I’d suggest we try this in a non breaking way first, where we just do the whole url if no package name is given and at some point just remove the whole thing.

[2019-11-16 02:16] hangxie commented on #37
Docker style?
[code]
peru does similar thing:
[code]

my $0.02

[2019-11-16 10:20] sh0rez commented on #61
maybe having an automatic rewrite tool as well would be handy .. should be fairly easy to grep for all imports of the old format, rewrite them to the new and change the `jsonnetfile.json`

[2019-11-16 10:21] sh0rez commented on #61
How would this look on `local` packages?

[2019-11-16 18:01] brancz commented on #61
I imagine it to work similar to go's canonical import paths. You specify the whole package name but then say it’s a local package and point at the directory you want it to use.

[2019-11-21 10:25] lowerzero commented on #43
Hi
I have the same issue and it does not seems to be fixed

[2019-11-21 10:43] sh0rez commented on #43
Hi, it is indeed not "fixed", because it is working as intended.

A `jb` installs *packages*  and a *Package* is by design a **folder** containing a `jsonnetfile.json` and one or more `.libsonnet` files.

What we tried to do here was installing bare files. **This does not work and will probably never do**.

This leaves you with two options:
1. Updating your import paths: Importing the library as e

[2019-11-22 08:50] lowerzero commented on #43
Thanks a lot @sh0rez #1 helped in that case

[2019-12-04 09:31] brancz commented on #61
If anyone wants to give this a stab, ideally with keeping current imports working, I'd be happy to give it a review.

[2019-12-04 22:41] chancez opened #62 "jb fails to install dependency after PR #56"
As far as I can tell, #56 broke `jb`, at least with some dependencies like https://github.com/ksonnet/ksonnet-lib/.

On the latest master:

[code]

I mentioned this to @brancz in the k8s slack when I hit the issue and I looked at recent commits touching the area of code producing the error I see and checked out the commit before this (7fc7c31856f96b7215796e7126e6a5f3303b7214) and the issue is gone

[2019-12-04 23:55] chancez commented on #62
Actually that doesn't seem to actually fix it cause the ksonnet files still aren't in `vendor` weirdly.

[2019-12-05 01:35] davidovich commented on #62
I am investigating. It seems related to archive unpacking.

[2019-12-05 02:22] davidovich commented on #62
You cannot install files in latest version, but directories. I believe this works:

[code]

[2019-12-05 05:36] brancz commented on #62
That is correct, installing files only accidentally ever worked. For now install ksonnet-lib I would recommend.

[2019-12-05 17:50] chancez commented on #62
Ahhh, okay thanks guys. I didn't realize that, but given the "bundler" in the name, I should know better. Everything works when I install the directories. Thanks again!

[2019-12-05 18:40] brancz commented on #62
Sounds like we can close this?

[2019-12-05 19:03] #62 closed

[2019-12-11 15:58] sh0rez commented on #61
I'll draft an implementation over the weekend, let's see how far I get :D

[2019-12-13 10:18] sh0rez commented on #19
This is possible now by using `jb install <package-name>` which installs the specified version of that package, effectively updating it .. Can this be close?

[2019-12-13 10:20] sh0rez commented on #37
I think this is hard to achieve.

The way installing works it that we only know about transient dependencies once a package is installed. Versions are locked once a package is installed first.

This means they effectively need to be installed in order, otherwise most of the above won‘t work – locking won‘t be deterministic

[2019-12-14 15:41] sh0rez commented on #53
Fixed in #60

[2019-12-14 15:41] #53 closed

[2019-12-15 20:51] sh0rez commented on #40
Fixed in https://github.com/jsonnet-bundler/jsonnet-bundler/pull/44

[2019-12-15 20:51] #40 closed

[2019-12-15 20:51] #43 closed

[2019-12-15 20:51] sh0rez commented on #1
We do this by now

[2019-12-15 20:51] #1 closed

[2019-12-19 12:29] kakkoyun opened #64 "feature: Distribute jsonnet-bundler through mainstream package registries"
It'd be convenient to distribute `jb` through mainstream package registries as deb/rpm or homebrew formula.
https://goreleaser.com/ could be used.
I can help, if you don't disagree.

[2020-01-05 20:53] agrahamlincoln commented on #64
jsonnet-bundler packages are available on the AUR for Arch Linux today:
https://aur.archlinux.org/packages/jsonnet-bundler-git/
https://aur.archlinux.org/packages/jsonnet-bundler-bin/

[2020-01-06 15:21] metalmatze commented on #64
Uh nice. @agrahamlincoln I'll test those as I'm on Arch too.
For this to really make sense, we should start cutting releases. :upside_down_face:

[2020-01-06 16:45] sh0rez commented on #64
Currently planning on some demos for Tanka as well, a recent release of `jb`  would be handy as well, otherwise we must use `go get` in demos

[2020-01-08 10:20] sh0rez commented on #45
For demos at upcoming conferences a release including binaries would be handy ..

@metalmatze @brancz are you fine with me cutting a new one right now?

[2020-01-08 10:25] metalmatze commented on #64
Hey @agrahamlincoln, we're about to cut a new release and going forward I could help you maintain the AUR packages. My AUR username is metalmatze too. :blush:

[2020-01-08 14:33] agrahamlincoln commented on #64
Hey @metalmatze I don't currently maintain either of those AUR packages, but I'm more than happy to look into taking ownership if the incumbents are idle.

Thanks for cutting a new release!!

[2020-01-08 15:06] metalmatze commented on #64
Ok! I've sent him an email. Let's see. :blush:

[2020-01-08 15:55] davidovich commented on #18
I think this can be closed with the latest enhancements in [v0.2.0](https://github.com/jsonnet-bundler/jsonnet-bundler/releases/tag/v0.2.0).

[2020-01-08 16:06] sh0rez commented on #45
Release done

[2020-01-08 16:06] #45 closed

[2020-01-08 16:14] sh0rez commented on #18
Only for GitHub, right? otherwise, we will still clone (sometimes only a shallow clone, sparse checkout, whatever, but still clone)

[2020-01-10 19:37] davidovich opened #66 "jb install files succeeds but vendor dir is left empty"
Users try to install files directly from jb, but this is not supported.

jb should (one of):

* support the use-case.
* error out with an informative message.

Furthermore, in an invesitgation, I found that some errors are shadowed in the unarchiving code path. I have a branch (later to be PRed) that enhances the error reporting, will submit later.

[2020-01-10 20:03] sh0rez commented on #66
As pointed out previously (https://github.com/jsonnet-bundler/jsonnet-bundler/issues/43), the smallest building block known to `jb` is a `package`, because it allows us to submit all the metadata perhaps required, etc.

So I assume this is by design and should fail properly, explaining why it does not work and what to try instead. `jb` should probably detect this upfront before even attempting to

[2020-01-24 07:02] #61 closed

[2020-01-24 18:45] hangxie opened #67 "ssh: Could not resolve hostname"
Broken in master:
[code]

Things worked with 0.2.0:
[code]

[2020-01-24 20:48] hangxie commented on #67
This syntax works for both v0.2.0 and master:
[code]

I'm going to read doc again and close this if the format is mentioned

[2020-01-24 21:08] hangxie commented on #67
I feel like https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/spec/deps/git.go#L103, the `:` between host and user should be `/`, then it can take `git+ssh://git@github.com:org/repo.git` pattern without failing back to HTTPS.

git CLI takes both `git+ssh://git@github.com:org/repo.git` and `git+ssh://git@github.com/org/repo.git` to me, I'm running git 2.17.1 if it matters.

[2020-01-24 21:32] hangxie commented on #67
This works for me:
[code]

[2020-01-24 21:46] hangxie commented on #67
#68 shows the fix worked for me, feel free to discard if and file a new one with better fix, I'm not sure if we want to use `:` or `/` as delimiter between host and user, or support both.

[2020-01-27 16:34] sh0rez commented on #67
This issue is related to the supported git protocols, which I apparently mixed up a little bit in my change.

According to `man git-clone`, the following things work: https://git-scm.com/docs/git-clone#_git_urls_a_id_urls_a.

Interesting for `jb` are the following:

* `ssh://[user@]host.xz[:port]/path/to/repo.git/`: Regular `ssh` syntax, also the one we use for cloning packages.
* `http[s]://host.

[2020-01-27 16:44] sh0rez commented on #67
Apparently, `jb` never had a proper implementation:

v0.2.0 had this test:
https://github.com/jsonnet-bundler/jsonnet-bundler/blob/184841238bb5df1b886ccaecd3e179bc55c17687/cmd/jb/main_test.go#L65

This format is invalid, because it uses a colon, where git expects a slash.

[2020-01-28 21:11] hangxie opened #70 "[Feature] Keep installation path of local sources in jsonnetfile.json"
`local` source has only `directory` parameter, it would be great to have an optional parameter to indicate where the lib should be deployed, like:

[code]

Long story (https://github.com/hangxie/jsonnet-sample shows what I want to achieve) - we expect unit tests of the repo use the same import format as actual clients like:
[code]
however I didn't find a way to do this, the closest one is `--jsonn

[2020-01-29 12:22] Whyeasy opened #71 "jsonnetpkg-home not working"
When the jsonnetpkg-home command is specified installing of packages is failing. During the creation of the symlink it expects the `vendor` folder to be present in the folder where the `jsonnetfile.json` is present.

command `jb install --jsonnetpkg-home="_tmp/vendor"` fails with the following error:

[code]

When `jb install` is run without the jsonnetpkg-home command, everything installs fine.

[2020-01-29 13:05] sh0rez commented on #71
@Whyeasy did you resolve your problem yourself? Could you please share some details for other users that might experience similar problems?

[2020-01-29 13:18] Whyeasy commented on #71
Thought my laptop was the issue, but colleague tested it as well. Looked fine in the beginning, but gave the same error in the end.

[2020-01-29 15:37] cboggs opened #72 "Support other hosts than GitHub for https"
The introduction of the "absolute imports" feature broke the ability to use a generic (non-github) git repo as a package URI.

Given that we have private Gitlab repos that house dependencies for our projects, this is a blocker. :-)

I'll have a PR up for it shortly.

[2020-01-29 15:41] sh0rez commented on #72
Hi, thanks for reporting.

Could you please explain how it broke exactly?

Judging from the dependency parser, http on hosts other than github was not supported before:

https://github.com/jsonnet-bundler/jsonnet-bundler/blob/184841238bb5df1b886ccaecd3e179bc55c17687/cmd/jb/main.go#L36-L46

This snippet is from `v0.2.0`

[2020-01-29 15:58] #67 closed

[2020-01-29 19:55] hangxie commented on #71
This is still a problem from master branch, anything other than vendor will cause the error:

[code]

[2020-01-29 20:05] hangxie commented on #71
https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/pkg/packages.go#L150

[2020-01-29 20:19] hangxie commented on #71
This is also suspicious to me:

https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/pkg/packages.go#L79

[2020-01-29 20:49] cboggs commented on #72
That's a great question actually, and I'm not super sure. All I know is that we currently pin `jb` to `v0.2.0` and it works with our internal Gitlab URLs, which is bizarre now that you mention it. :-\

[2020-01-29 21:04] sh0rez commented on #71
@hangxie thanks for spotting, I'll take a look!

[2020-01-29 21:05] sh0rez commented on #72
Maybe somebody modified the jsonnetfile.json by hand? In that case, it is not unexpected to break.

Anyways, supporting all hosts is required anyways so yeah, I guess it is not broken, only unsupported

[2020-01-29 21:21] davidovich commented on #72
We use gitlab references and I confirm that this is not supported at the moment, we modify the `jsonnetfile.json` by hand to use gitlab urls, which work.

Supporting Gitlab would be great. But the last time I looked, I think that the path deducing code of the `install` command will not work well for the groups feature of gitlab (it is hardcoded to decude paths after `org/project` depth). I think t

[2020-01-29 21:22] sh0rez commented on #72
You might be right @davidovich. With the upcoming change by @cboggs we at least properly support gitlab urls at user/repo level.

Unsure about groups, we should add, probably in a future iteration.

[2020-01-30 20:35] davidovich opened #74 "jb update on an existing jsonnetfile.json (but created with master) fails"
I believe the upgrade path of the new jb is broken for old (v0.2.0) jb users with operating on an inited jsonnetfile.json from a master jb.

To reproduce: install jb at latest (v0.2.0):

`GO111MODULE="on" go get github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@latest`

clone tanka (https://github.com/grafana/tanka)

cd examples/prom-graphana

[code]

works when I update jb to master.

[2020-01-30 20:43] sh0rez commented on #74
Yeah, master contains backwards incompatible changes

[2020-02-03 15:33] sc250024 commented on #72
I can tell you another problem with the `gitSSH` regex patterns: they don't account for GitLab's capability to add groups. For example, a GitHub repo is always `github.com/<org>/<repo>` whereas GitLab can have another subgroup like `gitlab.com/<org>/<group>/<repo>`

See here: https://docs.gitlab.com/ee/user/group/

I was just about to open an issue with "GitLab" support, which could just be adding

[2020-02-03 16:17] metalmatze commented on #70
Yes, that would make sense with the latest changes, if we don't have a full import path for local dependencies.

[2020-02-03 16:41] sh0rez commented on #72
Unfortunately, it's not. From a regex perspective, there is no way to differentiate between:

[code]

[2020-02-03 17:01] hangxie commented on #72
Never used gitlab group before, however, it seems both github and gitlab supports `/repo.git` in URL and will rewrite/redirect to `/repo`, will that be potential a solution? I'm not sure if this is just a hack.

[2020-02-03 17:02] sh0rez commented on #72
This will require to do a http request during parsing, which I would like to avoid as it is slow

[2020-02-03 17:07] #72 closed

[2020-02-04 02:14] pgier opened #75 "nil pointer error when refering to local git directory"
I'm seeing a nil pointer error trying to run `jb install` using a file with a dependency pointing to a  local filesystem path.  It seems this use to work in 1.0, but is not working in 2.0 and master.
Example jsonnetfile.json
[code]

Output:
[code]

[2020-02-04 07:06] sh0rez commented on #75
AFAICT git repositories are only supported as long as they are remote, over `https` and `ssh`.

For local directories, consider using the `local` repository type instead:

[code]

[2020-02-04 07:06] sh0rez commented on #75
/cc @metalmatze @brancz

[2020-02-04 07:11] brancz commented on #75
Yes in 0.2 we have local packages and that’s what we should use in this situation. We used to do the above hack previously and it did used to work in 0.1 but we made sure that local packages are working before we removed this as this really only accidentally happened to work.

[2020-02-04 07:20] metalmatze commented on #75
Yep. I guess this just needs updating on the Prometheus Operator side.

Something that I keep thinking about is and ever increasing uint version counter for jsonnetfile.json and lock too, so that we can at least tell people that they need a newer version. WDYT? (I know it's a bit off topic here, let me open a new issue in case we want that)

[2020-02-04 08:03] sh0rez commented on #75
Yeah I like that. In the last couple of weeks we have done a lot of changes to the jsonnetfile schema and I expect more to come in the future.

If jb would just be able to embed a schemaVersion and know which schemes it supports, that would be neat.

[2020-02-04 08:29] brancz commented on #75
Yeah I think I like that as well.

[2020-02-04 08:55] sh0rez opened #76 "schemaVersion"
It seems reasonable to add an ever increasing `uint` number to `jsonnetfile.json`, that can be increased to mark breaking changes to the format of that file, so that older jb versions can request the user to update

[2020-02-04 08:56] sh0rez commented on #75
Although this is basically working as intended, it should not panic, instead properly error.

Opened an issue for adding a schemaVersion: #76

[2020-02-04 08:57] sh0rez commented on #74
This is caused by the same issue as #75 where we changed the schema and older / newer versions can't keep up.

When implemented, #76 will provide a proper fix for this.

[2020-02-04 08:57] #74 closed

[2020-02-04 08:59] sh0rez commented on #18
Closing this for now.

In reality, most packages are installed from GitHub using the http archive. Furthermore, `jb` does not keep the `.git` folder around in `vendor`, so pulling instead of cloning is not really an option.

[2020-02-04 08:59] #18 closed

[2020-02-04 08:59] #19 closed

[2020-02-04 09:03] sh0rez opened #77 "Make updating master packages easier"
Say I installed `github.com/whatever@master`, or `github.com/whatever@branch` and wanted `jb` to pull in the latest changes of that branch, a simple `jb install github.com/whatever@master` is not sufficient, because the contents of `jsonnetfile.json` and the supplied URI match, thus jb does not take action.

The only fix is to use the commit hash once and then use master again, so that jb is force

[2020-02-04 09:03] #21 closed

[2020-02-04 09:05] sh0rez commented on #22
If you don't want something to be installed, add it to `.gitignore`, so that it does not end up in the remote repository.

`jb` is not able to not clone something, the only possible thing is to download it and remove afterwards, which seems pointless both from a performance and security perspective.

Reopen if we are missing something. Thanks :D

[2020-02-04 09:05] #22 closed

[2020-02-05 04:30] hangxie commented on #77
This is not what I observed, `jsonnetfile.lock.json` contains the hash that will be touched if we run `jb update`, right?

What I did (master):
1. `jb init`
2. `jb install git+ssh@github.com/hangxie/jsonnet-sample.git@master`
3. `grep version jsonnetfile.lock.json`

4. made some change to jsonnet-sample repo (added a README.md file)
5. `jb update`

6. `grep version jsonnetfile.lock.json`

7. `ls v

[2020-02-07 08:53] primeroz opened #81 "filesystem error when downloading into vendor directory with 0.2.0"
with version 0.2.0 whenever i run a `jb install` or `jb update` i get

`jb: error: failed to install packages: downloading: failed to create tmp dir: stat vendor/.tmp: no such file or directory`

I thought this could be related to me running on `btrfs` but i also tried on a `tmpfs` filesystem and it fail the same

Setting the `jsonnetpkg-home` fail as well

with 0.1.0 it works as before

[2020-02-07 09:51] sh0rez commented on #81
Did you run `jb init` before? Furthermore, `jsonnetpkg-home` is currently broken

[2020-02-07 09:59] primeroz commented on #81
I do have a jsonnetfile.json already with my dependencies, so why should i run the `init` since that only create an empty file ?

Anyway it does not seem to fix the issue

[code]

[2020-02-07 10:21] sh0rez commented on #81
That jsonnetfile was touched by current `master`, which is incompatible to v0.2.0

[2020-02-07 10:21] sh0rez commented on #81
Either use master, or delete that jsonnetfile and reinstall each package using v0.2.0

[2020-02-07 10:26] primeroz commented on #81
I see , yeah *someone* in the team must be running master i guess

thanks

[2020-02-07 10:26] #81 closed

[2020-02-08 13:54] sh0rez opened #82 "CI flaking"
Apparently we've got some flaking tests, tho I'm not sure why, as I can't reproduce locally (20 of 20 tries passed).

https://cloud.drone.io/jsonnet-bundler/jsonnet-bundler/123
https://cloud.drone.io/jsonnet-bundler/jsonnet-bundler/125

[2020-02-11 21:58] metalmatze commented on #82
I've "fixed" those flaky tests in #85 by running the steps synchronous and not concurrently. This happens because some integration tests might be executed at the same time and then read and write to the same files in the same shared folder...

[2020-02-20 08:16] Whyeasy commented on #71
@hangxie I noticed you did a merge that allows other dirs. After testing the new master it still fails to use a different folder.

After downloading it cleans all the folders in the mentioned library home dir.

[2020-02-20 16:00] hangxie commented on #71
Any details?

[2020-02-20 17:38] Whyeasy commented on #71
Sure. Here is the output if I run `jb install --jsonnetpkg-home="_tmp/vendor"`

[code]

[2020-02-20 18:37] hangxie commented on #71
@Whyeasy can you confirm you have the latest version?

[code]

[2020-02-20 18:53] Whyeasy commented on #71
`GO111MODULE="on"` was missing this part :sweat_smile: ,it was working before without. Now it works. :+1:

Thanks!

[2020-02-20 18:53] #71 closed

[2020-02-28 21:06] sh0rez commented on #82
With #85 merged, this is resolved.

[2020-02-28 21:06] #82 closed

[2020-02-28 21:07] sh0rez commented on #76
Done in #85

[2020-02-28 21:07] #76 closed

[2020-02-28 21:08] sh0rez commented on #75
We now have schema versions (#85), this should not happen anymore in the future.

[2020-02-28 21:08] #75 closed

[2020-02-28 21:09] sh0rez commented on #47
I tried to reproduce today, no success. As there hasn't been any activity on this issue for a longer time, I'm closing it. Feel free to open a new one if the problem persists!

[2020-02-28 21:09] #47 closed

[2020-03-06 14:59] olivierlemasle commented on #64
FYI, I've also started a `jb` package for Fedora (waiting for review): https://bugzilla.redhat.com/show_bug.cgi?id=1811080

[2020-03-06 15:13] brancz opened #89 "Granular update"
We often want to update only one specific dependency, but what we end up having to do is run `jb update`, then `git add -p` and revert the rest, and make sure we didn't make a mistake. It would be much more convenient if this was built in.

@sh0rez @metalmatze

[2020-03-08 08:31] sh0rez commented on #89
I think I don't quite get the use case .. could you explain it a bit further?

[2020-03-12 06:56] d0nn13 commented on #37
IMHO, OP's initial suggestion (make _only_ git cloning parallel) seems to be a simple feature that could reduce `jb install` & `jb update` execution times.

[2020-03-12 07:08] sh0rez commented on #37
Cool: yes!

Simple: no. `jb` goes over all packages in series, resolves transient dependencies and uses the first occurence of a package's version as the locked one, which will be used for all other packages after that. This way it is deterministic.

When cloning in parallel, we would lose that property

[2020-03-16 05:58] steinybot opened #90 "SIGSEGV installing kube-prometheus"
I get a seg fault trying to install kube-prometheus:
[code]

[2020-03-17 09:49] brancz commented on #89
We often want to just update a single dependency like:

[code]

But currently we can only do all via:

[code]

[2020-03-17 10:02] sh0rez commented on #89
Actually you can use `jb install` for updating:

[code]

That way that single dependency is updated. The `@hash` `@branch` dance is required because jb tries to be clever and does nothing if the URI and the one in the jsonnetfile match ... we could possibly add some logic here to not do this for branches.

[2020-03-17 13:01] brancz commented on #89
Interesting, we haven't done that, you're right that mostly works. Thinking about it more, I feel running

[code]

Should update the pinned version to the "latest" of the floating version. What do you think? That shouldn't be all too difficult to implement.

[2020-03-17 15:46] sh0rez commented on #89
Good idea! This also won't require us to do magic when trying to guess if `install` should update or not.

I'll give it a shot!

[2020-03-17 18:18] metalmatze commented on #90
Glad you solved it directly on your own :blush:

[2020-03-17 18:37] sh0rez commented on #90
Should not panic, on it

[2020-03-18 14:09] olivierlemasle commented on #64
Fedora packages (for Fedora 31 and upcoming Fedora 32) are now available on repository `updates-testing`, under the package name `golang-github-jsonnet-bundler`.

If you want to test it: https://bodhi.fedoraproject.org/updates/?packages=golang-github-jsonnet-bundler

These packages will be available in `stable` in the coming days.

[2020-03-22 10:28] paulfantom opened #94 "Provide checksum file in release"
It would be nice to provide a checksum file in future releases so we can validate downloaded files against hashes.

Something like `sha256sums.txt` file in [prometheus releases](https://github.com/prometheus/prometheus/releases)

[2020-04-11 16:52] sarahhodne opened #96 "Panic on `jb install` due to permission denied"
I'm getting a panic when trying to run `jb install`:

[code]

[code]

[code]

I am using WSL, so it's possible that there's some weird interaction there? Otherwise I'm not sure what could be causing permissions errors...

[2020-04-11 17:33] sh0rez commented on #96
Huh, this seems odd. Just confirmed, it works on macOS and a regular linux node, so it's related to your setup.

Do you run wsl2 or the older one? Please post `uname -a`

[2020-04-11 18:02] sarahhodne commented on #96
The old WSL, I believe (last I checked, WSL2 was only in the insider builds?)

[code]

[2020-04-11 18:29] sh0rez commented on #96
Yeah, seems to wsl1. I know there is an issue when inotify is in use which prevents you from saving files then, but jb doesn't do this.

Is there anything watching this directory tree? (vscode, etc)?

[2020-04-11 19:49] davidovich commented on #96
I suspect the OP is using VSCode with WSL, which has a known limitation
that I encountered too. The solution is to turn off file watching.

More info here:
https://code.visualstudio.com/docs/remote/wsl#_known-limitations

D.

Le sam. 11 avr. 2020 à 14:29, sh0rez <notifications@github.com> a écrit :

[2020-04-15 13:37] brancz opened #97 "Ask before deleting anything"
When running `jb install` jb deletes the specified vendor directory in many cases, which can be catastrophic when done against the wrong directory (for example when misconfiguring the jsonnetpkg-home flag).

jsonnet-bundler should ask before it deletes anything. I'm fine to allow forcing this behavior, for scripts, makefiles etc., but by default it should ask.

@sh0rez @metalmatze

[2020-04-15 13:43] sh0rez commented on #97
Actually wondering, what are the use-cases of other folder names than `vendor`? I did implement jb cleaning back then so that people don't stick files in `vendor` that are not managed by jb,  because that breaks the assumption that vendor equals jsonnetfile.lock.json

[2020-04-15 15:32] brancz commented on #97
Projects that have both go and jsonnet code side by side both with vendor directories is an example that we've had.

[2020-04-16 12:17] krasi-georgiev opened #98 "Add `jb tidy` similar to `go modtidy` to remove unused dependencies"

[2020-04-16 12:19] sh0rez commented on #98
This is tricky, because jb does no parsing of Jsonnet code, as it can't reliably detect what's imported, due to historical decisions (import style still in use).

However, it does keep `jsonnentfile.lock.json` clean, so it only ever installs what's needed by your direct dependencies in `jsonnetfile.json`.

[2020-04-16 15:24] krasi-georgiev commented on #98
tricky as in out of scope or as in needs a lot of work but would be nice if someone can implement it?

[2020-04-21 11:47] sh0rez commented on #94
Releasing is done manually at the moment (which doesn't mean we can't do it still).

We will definitely do this once we integrated a release flow in the CI.

[2020-04-21 11:47] sh0rez commented on #96
@sarahhodne could you check the suggestion by @davidovich?

[2020-04-21 14:29] #89 closed

[2020-04-21 17:55] sarahhodne commented on #96
Ah, yeah, it looks like it was Visual Studio code indeed, I didn't try turning off file watching yet, but I can't reproduce it when I quit VS Code, so I am pretty confident that that's the reason.

[2020-04-21 17:55] #96 closed

[2020-05-01 15:50] wendtek opened #101 "Running jb install with a parent directy argument overwrites current directory with a symlink"
### Issue
Running something akin to `jb install ..` results in a panic and creates a symbolic link replacing the current directory.

After seeing this behavior on my own laptop accidentally and losing work, I recreated in a container.
[code]

### Steps to reproduce
From any directory with a valid `jsonnetfile.json`, run `jb install ../`

### Expected behavior
I would expect the tool to either iden

[2020-05-06 16:47] rollandf commented on #101
It is fixed on master by #100 and #103

[2020-05-06 17:31] #101 closed

[2020-05-07 19:02] bgagnon opened #105 "Cannot reference GitLab repositories under the personal "first.last" group"
Consider this on-premise Gitlab repository:

<https://gitlab.corpdomain.org/first.last/repo.git>

Trying to install this as a jb package fails with the following error:

[2020-05-19 08:28] ebengt opened #108 "jb-linux-amd64 v0.4.0 is v0.2.0"
After download of jb-linux-amd64 from https://github.com/jsonnet-bundler/jsonnet-bundler/releases/tag/v0.4.0
I get:
 ./jb-linux-amd64 --version
v0.2.0-41-g447344d

Does anybody get v0.4.0... ?

[2020-05-19 20:55] #105 closed

[2020-05-19 21:11] bgagnon commented on #37
I've been thinking about this one lately. Like @sh0rez, I think it would be hard to make this _fully_ concurrent (eg. complex and low ROI), but I do think there's potential for _some_ concurrency.

Approximative design:
* split the package installation in two phases -- fetch and install
* build a queue of "ready to fetch" packages and another for "next to install"
* fetch using parallel workers, b

[2020-05-20 12:09] bgagnon commented on #98
Well, we do have the `jb rewrite` command that reads and modifies Jsonnet code in place...

Jsonnet has a way to detect unused variables with `jsonnet-lint`, which could help as a first pass. Then, I wouldn't expect `jb` to be detect unused `import` results, but we could still cleanup `jsonnetfile.json` from any module not seen in any `import` directive.

As for `jsonnetfile.lock.json`, it's a lit

[2020-05-20 13:30] bgagnon opened #111 "Override package sources in git-ignored file"
We have the ability to set a `local` source for packages as an alternative to `git`. However, this decision is written permanently in `jsonnetfile.json` and `jsonnetfile.lock.json`, both of which are expected to be checked in to Git.

This story is about having an edit mode similar to `pip install -e`, `gohack`, Go mod's `replace` or `npm link`.

Proposal:
* detect a secondary `jsonnetfile.dev.jso

[2020-05-20 13:38] bgagnon commented on #70
In #111 I describe a proposal for having a development-friendly setup that isn't persisted to git. Basically, to have symlinks only in development, but not in the checked in version. For this to work, we need to solve the issue of maintaining a stable import path when symlinks are used.

[2020-05-20 13:51] sh0rez commented on #111
I think this two-fold. You are describing (1) a replace system, and (2) development overrides, both which I think are cool.

1. **Replace system**: Provide some way to override dependencies, while maintaining the import path. Not just a development thing, also usable when running from forks etc.
2. **Dev overrides**: To temporarily simulate a different environment. We could easily add a `jsonnetfi

[2020-05-20 15:09] bgagnon commented on #111
That's a good point on the replace system being something that can be useful to persist. Looks like the replace functionality can be part of the JsonnetFile spec, and the dev overrides is simply an overlay on that spec.

[2020-05-20 15:42] sh0rez commented on #108
This is most likely related to the binary artifacts being built before the repo was tagged locally.

I rebuilt and replaced the artifacts, should be fixed now.

[2020-05-20 15:42] #108 closed

[2020-05-28 00:30] ghostsquad commented on #70
this would also solve the problem of how to install sources of the same leaf name. Example:

github.com/foo/kube-libsonnet
github.com/bar/kube-libsonnet

I'm not sure if there's a way to be able to use both as of right now.

[2020-05-29 17:06] ghostsquad opened #112 "Regarding the "Diamond Problem""
What if you have dependencies on A & C

And A has a transient dependency on C?

Do you have to synchronize the version of your direct dependency on C with that of the version that is contained in A?

Is the version that's "required" based on `jsonnetfile.json` or `jsonnetfile.lock.json` ? (e.g. `jsonnetfile.json` uses `master` instead of a specific sha)

---

Side question, are there any plans aro

[2020-05-29 17:26] ghostsquad opened #113 "When cloning, are git submodules fetched?"
When cloning, are git submodules fetched?

[2020-05-29 17:26] sh0rez commented on #112
Jsonnet Bundler currently uses an iterative resolution process, that while being deterministic, not always leads to correct results.

![](https://user-images.githubusercontent.com/26971117/66936028-55859580-f03d-11e9-9173-e658081e9bf5.png)

Jsonnet Bundler iterates through the direct dependencies of `jsonnetfile.json`, starting at the top with the first package. It downloads that, locks the versio

[2020-05-29 17:30] sh0rez commented on #112
The current implementation can be found at https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/pkg/packages.go#L213.

As I consider the described issue a big flaw in the implementation (which I wrote some time ago not thinking about this property), I am trying to find ways to fix this. Expect some document on this in the next week.

[2020-05-29 19:20] ghostsquad commented on #112
Thank you very much for this in depth explanation.

My simple/low risk concern at the moment is that I have a util-libsonnet repo that is basically a set of extensions to the stdlib. If I maintain backwards compatibility, then as you stated, I can directly depend on the latest version of the util repo.

Keep up the good work!

I'm a contributor to go-jsonnet, I've been slowly working on benchmarki

[2020-06-01 12:36] c0ffeec0der commented on #113
It looks like when "subdir" is defined. The contents of root and subdir are not cloned.

try instructions on https://github.com/coreos/kube-prometheus

$ mkdir my-kube-prometheus; cd my-kube-prometheus
$ jb init
$ jb install github.com/coreos/kube-prometheus/jsonnet/kube-prometheus@release-0.4

Check folder vendor contents. Most are empty

[2020-06-03 19:42] bwplotka opened #116 "v0.4.0 small bug: "name" is ignored when upgrading existing vendor"
Repro:

*  Have jsonnetfile.json with

[code]

* Run `jb install`

We should see (broken!) `thanos-mixin -> github.com/thanos-io/thanos/mixin/thanos` link. (BTW can we have error message when that happens? jb install should never succeed then.

* Edit `jsonnetfile.json` to

[code]
* Run `jb install`

in vendor we can see link `mixin -> github.com/thanos-io/thanos/mixin` , despite the value in `nam

[2020-06-22 16:48] davidham opened #117 "`jb --version` reports 'dev'"
Just downloaded 0.4.0. Expected it to report `0.4.0`.

[2020-06-26 02:50] hangxie opened #118 "SIGSEGV on update"
yet to determine the root cause as it happens on my colleague's laptop with 0.3.1, we may provide more details tomorrow once have time to setup a triage session (or not):
[code]

It seems https://github.com/jsonnet-bundler/jsonnet-bundler/blob/v0.3.1/pkg/packages.go#L65-L71 should check error to take proper action (reporting offending file?) instead of blindly check `!i.IsDir()` as `i` will be `ni

[2020-06-29 15:00] metalmatze commented on #118
We checked a bunch of these issues on newer 0.4.x releases. Can you upgrade?

[2020-06-29 15:01] metalmatze commented on #117
Did you download one of the [pre-compiled binaries](https://github.com/jsonnet-bundler/jsonnet-bundler/releases/tag/v0.4.0), or where do you see this? Can you be more specific? Thanks!

[2020-06-29 15:05] metalmatze commented on #98
`jb rewrite` is pretty much a find and replace...
It's far from really parsing jsonnet files and really trying to understand them.

I don't think this is an often enough use case for us to try and write a general-purpose tool. The false positives are too many.
Happy to be convinced of the opposite, but that's my stand on this topic for now.

[2020-06-29 15:07] metalmatze commented on #113
Unless there's a reason for us to implement support for submodules, I'm closing this for now. Feel free to re-open in the future.

[2020-06-29 15:07] #113 closed

[2020-06-29 15:36] metalmatze commented on #116
Makes sense. I'm not sure if I want to spend the time trying to fix a legacy thing (symlink).
If it's broken for you, then I'd say, go ahead and start using the absolute import paths already. :innocent:

[2020-06-29 18:25] davidham commented on #117
I think I just ran the `go get` command from the readme. I tried it again just now with these results:
[code]
Very possible (likely even!) that there is a PBCAK on my end, but this is how I get the `dev` result.

[2020-06-30 00:18] sh0rez commented on #117
Yes, `go get` compiles the binaries from source, thus you get "dev" binaries.

Either pass the proper ldflags (see `Makefile`) to set the version variable, or download pre-compiled assets :)

[2020-06-30 02:32] ghostsquad opened #119 "panic during `jb install` over ssh"
[code]

[2020-06-30 02:40] ghostsquad commented on #119
Oh, this is an incompatibility of `jsonnetfile.json` it seems prior to `0.4.0`. Since I'm in control of the upstream in this case, I was able to delete/recreate the files with a newer version of `jb`

[2020-06-30 02:42] ghostsquad commented on #119
[code]

[2020-06-30 03:09] ghostsquad opened #120 "feature request: save `--jsonnetpkg-home` in `jsonnetfile.json`"
This is request to save the value first passed to `--jsonnetpkg-home` to the `jsonnetfile.json` such the subsequent calls to `jb install` automatically install to the correct directory without needing to be explicit

[2020-06-30 23:49] hangxie commented on #118
Yes that's one of the action item but may take a while (there are like ~20 some people in 2 dev teams)

FYI, the test environment was gone, we assume it was triggered by underlying file system problem - Josh was running a vagrant-based dev env with directory mounted into the VM, he's the only one had this problem though there are couple of other people have the same setup. Josh then moved to conta

[2020-06-30 23:49] #118 closed

[2020-07-01 12:40] tomwilkie opened #121 "`jb update foo` should print an error when it doesn't do anything"
Took me three stabs just now:

[code]

[2020-07-01 15:56] ghostsquad opened #122 "Do not assume "master" is the default branch"
`jb install` should not assume that `master` is the default branch.

Additionally, if you _had_ to assume a default branch, this is request to change this to `main` to bring more awareness around the oppressive terminology. https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2020-07-02 08:16] metalmatze commented on #122
Agreed, we should just use whatever the upstream server has set as default.
Hopefully with that we can avoid making any assumptions on our side to begin with.

I wouldn't update just yet, and wait for what GitHub decides to do for all of GitHubs default branches, then adjust accordingly :)

[2020-07-02 16:03] hangxie opened #123 "Feature request: quiet option"
Like `-q`/`-s` to eliminate those progress bars, I think all we need to know is `remote: Total 40 (delta 7), reused 40 (delta 7), pack-reused 0` as a summary if possible, or that can be gone if it's hard to achieve.

Background - our CI builds 12 components in one job, jsonnet-bundler populated these lines that dominated the output and make it hard for people to read actual build messages:
[code]

[2020-07-03 02:17] ghostsquad commented on #122
@metalmatze there's no need to wait for Github. Jsonnet can be a source of raised awareness. Force developers to pin to `@master` if they so choose.

[2020-07-06 15:01] metalmatze commented on #123
Sounds good, especially for CI. Happy to merge a PR for it :)

[2020-07-09 02:46] #123 closed

[2020-07-09 06:57] brancz opened #125 "Lock-diff"
We often bump many dependencies at once, and it's useful to quickly share something like a "changelog" of the things that have happened since the previous last `.lock`. @wking wrote a python script [here](https://github.com/openshift/cluster-monitoring-operator/pull/844#issue-446390661) that does this, and I think it would be useful to have this directly built in to jsonnet-bundler.

@sh0rez @meta

[2020-07-09 13:48] wking commented on #125
I actually did not see a way to only bump a single dependency 😉

[2020-07-09 13:51] brancz commented on #125
It's still relatively new (released in v0.4.0), but that has been added: https://github.com/jsonnet-bundler/jsonnet-bundler/pull/92

[2020-07-16 12:50] simonfrey opened #127 "Access different branches in import"
Is it possible to access different branches in my jsonnet files.
e.g.

[code]

Can I import via `import AAA@master` and `import AAA@develop`?

[2020-07-22 20:27] sc250024 commented on #120
Agreed. Would be super useful.

[2020-07-22 20:36] sc250024 commented on #64
What about Homebrew? Would anyone be opposed to using [goreleaser](https://github.com/goreleaser/goreleaser) in this repository to handle all releasing, as well as handling the creation of a Homebrew tap here?

[2020-07-23 06:51] kakkoyun commented on #64
I don't see anybody disagrees. Just somebody needs to the work. I have been planning to send a PR for quite some time, I just couldn't get to it. So feel free to contribute.

[2020-07-23 10:02] sc250024 commented on #64
@kakkoyun I'll spin up a PR, and let you know.

[2020-07-23 12:40] sc250024 commented on #64
@kakkoyun Would you mind taking a peek? It's a big one => https://github.com/jsonnet-bundler/jsonnet-bundler/pull/128

[2020-07-23 13:14] kakkoyun commented on #64
@sc250024 Wow, that was fast 🚀 It looks solid to me, let see what maintainers think.

[2020-07-30 14:46] simonfrey commented on #127
Does anyone have an idea how to do that?

[2020-09-15 12:43] lilic opened #129 "legacyImports: true is not always set to true"
When ` "legacyImports": true` is set in jsonnetfile.json file, somehow `  "legacyImports": false` is set instead in the jsonnetfile.lock.json file. Not sure if this is the expected thing to happen? If yes, seems a bit confusing from UX side of things, I would expect both to be set the same?

I haven't looked much into the code, I can do if no one knows the problem straight away. Thanks!

See examp

[2020-09-15 12:45] metalmatze commented on #129
I don't think that's expected and I've seen similar things while creating these PRs:
https://github.com/brancz/kubernetes-grafana/pull/98
https://github.com/prometheus-operator/kube-prometheus/pull/675
https://github.com/kubernetes-monitoring/kubernetes-mixin/pull/502

[2020-09-15 16:54] sh0rez commented on #129
It's confusing UX. Both files share the same Schema, but this value is only read from the jsonnetfile, not the lockfile

[2020-09-16 12:04] lilic commented on #129
@sh0rez do we need it in the lock file at all or is it something we can remove to prevent further confusion?

[2020-09-16 12:34] sh0rez commented on #129
It's not needed at all! Didn't find the time to separate the Jsonnetfile and Lockfile structs back then

[2020-09-16 14:04] metalmatze commented on #129
If one does `jb install` do we even look at the `jsonnetfile.json` though? Maybe it's still worth having in the `jsonnetfile.lock.json`, but I'll double-check the implementation details.

[2020-09-23 00:38] ghostsquad opened #130 "unable to ssh install from non-master branch"
[code]

[2020-09-23 00:42] ghostsquad commented on #119
this apparently doesn't work either for non-master branches, see #130

[2020-10-04 07:17] kskewes commented on #70
So sorry for the noise, had github link in commit message and forgot it links through :facepalm: :pray:
This was related to the different branch but same leaf node comment above. Appreciate the ease of use for jsonnet management `jb` affords us.

[2020-10-13 10:49] Modnxs opened #132 "O"

[2020-10-13 11:10] sh0rez commented on #132
Closing, as probably opened by mistake. Feel free to reopen in case there actually is an issue / question :)

[2020-10-13 11:10] #132 closed

[2020-10-13 11:14] sh0rez commented on #129
@metalmatze `legacyImports` is exclusively read from `jsonnetfile.json`, the value is the lockFile is silently ignored:

https://github.com/jsonnet-bundler/jsonnet-bundler/blob/ada055a225fa6fc37b05bdbd838ed91b04727a6e/pkg/packages.go#L97

`direct` in this case comes from here:

https://github.com/jsonnet-bundler/jsonnet-bundler/blob/ada055a225fa6fc37b05bdbd838ed91b04727a6e/cmd/jb/install.go#L76

[2020-10-13 11:16] sh0rez commented on #127
(this is a very bad solution using legacy features)

Try this:
[code]

This installs the dependency using a different name. This is not something that should work to be honest, and expect it to be removed, but it is a stop-gap.

We should still consider implementing this properly imo

[2020-10-27 09:41] #98 closed

[2020-11-03 14:01] kakkoyun opened #133 "feature request: Provide a functionality to override a source of a dependency, similar to "go mod replace""
As a user, it would be convenient to have a way to override certain dependencies with a local version or a branch in a forked repositories.

Currently it doesn't work especially with new import paths. As a work around I'm linking local directories to corresponding dependency in `vendor` folder.

What do you think?

cc @metalmatze

[2020-11-04 11:39] metalmatze commented on #133
What I currently do - in the rare occasions - is creating a symlink to my local fork.
Previously this was easy as it meant only replacing `vendor/ksonnet` for example, it get slightly more tricky with absolute import paths, as the fork still has to use the same absolute paths for this to work locally.

[2020-11-04 12:11] stevehipwell opened #134 "Windows binary release"
It would be really useful if there was a Windows binary built and released for this project to be used alongside [Tanka](https://tanka.dev/) as this is a blocker to enterprise adoption.

[2020-11-05 19:00] hoenn opened #135 "Error when referencing branch with '/' in name with jb install"
Using `/` in a branch name and using that for `version` in jsonnetfile.json will cause `jb install/update` to error. I renamed my remote branch and this error went away as expected. I've found it pretty common to name branches `user/whatever`, other users may run into this.

Steps to reproduce:
1. Create a branch with a `/` in the name on a remote repository
2. Add that repo and version as a depen

[2020-12-01 15:22] roidelapluie commented on #127
I feel like this is important to have as it is not rare to have a central grafana which tackles multiple releases of Kube, which require multiple branches.

[2020-12-11 05:39] alok87 opened #136 "Please add a version command"
It is very hard to figure out which version of jb we are using.

[2020-12-15 22:45] joe-getcouragenow commented on #134
I agree. Windows binary release would make adaption easier.

[2021-01-03 19:24] olivierlemasle commented on #136
You can already do `jb --version`.

If not, you have a version older than 0.2.0.

[2021-01-04 10:03] alok87 commented on #136
ok thanks

[2021-01-04 10:03] #136 closed

[2021-01-20 14:24] dave08 opened #138 "Have add/vendor/update for jb instead of current install/update"
Currently, `jb install` does the work of both add and vendor, which makes it not clear for the user what `jb update` will be doing.

In php's composer, there's a require for adding dependencies. install  uses the lock file's state and update uses the dep file (using wildcard-type versioning for allowing minor version updates or major version updates etc...)...

And also in `tk tool charts` there's

[2021-02-01 11:24] metalmatze commented on #130
`jb install git+ssh://git@github.com/tunein/spinnaker-libsonnet.git@main`
[code]

This seems to work just fine, honestly? :thinking:

[2021-02-01 11:25] metalmatze commented on #135
Interesting. Yes, we should support slashes in branch names.

[2021-02-01 11:27] metalmatze commented on #134
If Tanka supports Windows with pre-built binaries maybe that's something the Tanka maintainers want to contribute? cc @sh0rez

[2021-02-08 22:10] gliptak commented on #134
Maybe https://github.com/jsonnet-bundler/jsonnet-bundler/blob/master/Dockerfile could be used?

[2021-02-09 06:26] stevehipwell commented on #134
@gliptak the Docker image could be used, but for simple users it's probably still too complex for easy adoption.

[2021-03-02 11:09] shahbazn opened #141 "git basic auth does not work"
Basic auth for private private repos in the following format does not work and instead prompts for credentials

https://<user>:<password>@gitlab.com/kubernetes/kubernetes-mixin.git

[2021-03-08 09:06] metalmatze commented on #141
Not sure what the issue here really is. I'm using jb to fetch some dependencies from my Gitea instance that is behind credentials. If it works with git, it should work with jb too.

[2021-03-09 12:27] jonrob opened #142 "jb uses dependency's jsonnetfile.json over local project's jsonnetfile.lock.json"
This may be a simple misunderstanding of how jb works.

When I'm running `jb update` on a project with a jsonnetfile.json and a jsonnetfile.lock.json present, I expect jb to retrieve the dependencies (and dependencies of dependencies - transitive dependencies?) at the exact version specified by the jsonnetfile.lock.json.

What actually seems to be happening for transitive dependencies is that jb i

[2021-03-09 19:03] ghostsquad commented on #120
If I worked on a PR for this, would it be accepted? I'd like to confirm that this feature is desirable before doing the work.

[2021-03-17 09:37] Cicatrice commented on #135
Hello,

I notice this PR https://github.com/jsonnet-bundler/jsonnet-bundler/pull/110 actually fixed this bug by replacing the way `jb` generate the temporary path : https://github.com/jsonnet-bundler/jsonnet-bundler/commit/9e88f6d38d2c12ea86ea04ded932a106fa5df972#diff-5242cbabda12c6e180bb1acbfcc76f59021c7e83b80747ca20662cf92369c478R181

The main problem is that it has not been released yet on GitH

[2021-03-17 17:40] metalmatze commented on #135
Yep, we should. The last release is quite a while ago :smile:

[2021-05-10 14:41] darrenjaneczek opened #143 "During `jb init`, store --jsonnetpkg-home flag in `jsonnetfile.json`; use this stored value to override default of "vendor""
To prevent the jsonnetpkg-home default "vendor" clashing with the go package default "vendor," I decided to use the following command line flag to differentiate between the two.

```--jsonnetpkg-home="jbvendor"```

Every `jb` command that I run will have to use this flag, to prevent actions happening in the default "vendor" location. Would it be reasonable to have the specified directory be stored

[2021-05-14 18:01] hoenn commented on #135
Since this is apparently fixed on master (thanks for pointing that out @Cicatrice) I'll close the issue.

[2021-05-14 18:01] #135 closed

[2021-05-21 20:06] bspot commented on #141
Can confirm this doesn't work, at least not with a personal access token on Github.

This works:
[code]

This does not:

[code]

it asks me for both my username and password.

[2021-05-25 11:30] wiegandf commented on #135
@metalmatze any updates on a new release?

[2021-06-15 14:46] lilic opened #144 "Fallback to main branch if master branch does not exist"
Currently when trying to install a project with no branch specifying it fails if that repo was renamed from master to main:

[code]

I believe it should fallback to `main` if `master` is not found.

jb version is dev current master branch. :)

[2021-06-15 14:48] lilic commented on #144
Note I did manage to install correctly by specifying `@main` but would be nice to not fail on first time.

cc @metalmatze :)

[2021-06-17 08:32] hisener opened #145 "`jb` fails to use branches with slash (`/`)"
As summary says it `jb` fails when a branch name with `/` is used. Branch names can include `/` according to https://git-scm.com/docs/git-check-ref-format (E.g. `git check-ref-format --branch hsener/test`).

### Steps to reproduce

**jsonnetfile.json**
[code]

[code]

### Workaround

Do not use `/` in branch names. 🙈

[2021-06-26 08:48] Aankhen commented on #52
I’m having the same issue on Windows, no WSL involved. I installed `jb` with `go get`. This is what I get when I try to install a library:

[code]

[2021-07-16 19:27] ghostsquad commented on #143
I believe this is a duplicate of #120

[2021-07-16 19:31] ghostsquad commented on #130
I think the problem here is that it's trying to checkout `master` not `main`. Possibly related to #144

[2021-07-16 19:31] ghostsquad commented on #122
Github has made the change, and this problem has been reported again in #144

[2021-07-16 19:34] ghostsquad commented on #121
I prefer idempotent commands actually. It avoids needing to write stuff like `jb update <repo> || true` in automation.

At the end of the day, you are simply asking for the desired state to be "at the latest release". So if the actual state matches desired state, the exit code should indicate success, even if nothing was done.

[2021-07-17 11:49] sh0rez commented on #121
Fair point in the case something is already up to date. I think it still wouldn't harm printing some "already up to date" message then.

More relevant is the case `jb update github.com/grafana/cortex-jsonnets/cortex-mixin`, which is straight up invalid, as the repository does not exist at all and is also unlikely part of the existing `jsonnetfile.json`.

I think it would be fair to fail if trying

[2021-07-22 09:20] #145 closed

[2021-07-24 19:43] yeya24 commented on #144
Love this idea! I can take this one if @lilic you are not working on it.

[2021-07-26 08:41] lilic commented on #144
@yeya24 no not working on it, go ahead, thank you! 🎉

[2021-09-02 09:15] tutuV opened #147 "error: Sparse checkout leaves no entry on working directory"
jb install github.com/prometheus-operator/kube-prometheus/jsonnet/kube-prometheus@v0.8.0

......
......
......
Switched to a new branch 'release-2.0'
fatal: unable to access 'https://github.com/prometheus/alertmanager.git/': Failed connect to github.com:443; Connection refused
GET https://github.com/prometheus/alertmanager/archive/.tar.gz 404
archive install failed: unexpected status code 404
retr

[2021-09-02 09:33] tutuV commented on #147
This is the last output

Switched to a new branch 'release-2.0'
fatal: unable to access 'https://github.com/prometheus/alertmanager.git/': Failed connect to github.com:443; Connection refused
GET https://github.com/prometheus/alertmanager/archive/.tar.gz 404
archive install failed: unexpected status code 404
retrying with git...
Initialized empty Git repository in /root/go/src/my-kube-prometheus/v

[2021-09-03 02:21] #147 closed

[2021-09-03 02:23] tutuV commented on #147
I made a mistake, the version  should be release-0.8, not  v0.8.0

[2021-09-21 12:04] JorundMartinsen opened #148 "golang has deprecated 'get'"
Update documentation to conform to latest golang version, using go install

With go v1.17
[code]

[2021-11-03 09:50] stevehipwell commented on #134
/bump

[2021-11-13 18:09] T4cC0re commented on #144
No need to fall back actually. You can detect the default branch by dereferencing the `HEAD`. This can be done without checking out the repository, you just need the URL to the repo:

[code]

As you can see, in this case, `HEAD` is represented via `refs/heads/main` a.k.a. `main`.

[2021-11-15 15:16] itspngu opened #149 "Facilitate setting runtime configuration through environment variables"
Similar to what's being requested in #143 and #120, having a way to set `jsonnetpkg-home` from an environment variable would be a helpful feature for users. Resolution of the `jsonnetpkg-home` setting should follow the established priority order of cmdline > environment > default.

[2021-11-19 08:24] KlavsKlavsen commented on #148
Same problem here - trying to find a diff. way to actually install jb :(

[2021-11-19 08:34] paulfantom commented on #148
Feel free to create a PR with updated installation method. `go install -a github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@latest` should work just fine for golang 1.17.

[2021-11-19 08:54] KlavsKlavsen commented on #148
@paulfantom done ;)

[2021-11-19 08:54] KlavsKlavsen commented on #148
(and done for gojsontoyaml too - which had same issue :)

[2021-11-19 14:36] #148 closed

[2021-12-18 00:01] patoarvizu commented on #141
I would also be interested in this. I gave [this guide](https://depfu.com/blog/2017/08/02/bundler-and-private-dependencies) a try but no luck (I know it's not `jb` directly, but thought it was worth a shot).

[2022-01-06 10:43] aslafy-z opened #152 "Allow jsonnetpkg-home absolute paths"
It should be possible to set `jsonnetpkg-home` to an absolute path.
Currently, the path get joined with the CWD in https://github.com/jsonnet-bundler/jsonnet-bundler/blob/dafc283219baad354ecec101ec33070049e3a7b4/cmd/jb/update.go#L42 which prevents the use of absolute paths.

[2022-01-07 11:11] pmorch opened #153 "Avoid hardcoding the choice between `https://` and `git@` urls with new `--url-prefix [as-is|ssh|https]`"
Both github and gitlab offer the choice of downloading the same repo with one of:

* `https://github.com/jsonnet-bundler/jsonnet-bundler.git`
* `git@github.com:jsonnet-bundler/jsonnet-bundler.git`

(The URLs are totally similar for gitlab)

We'd like to avoid hardcoding that choice in `jsonnetfile.json` for all our users. Currently, we have to choose either the `https://` or `git@` url when using

[2022-01-21 02:10] pmorch commented on #141
You really don't want to be putting `MY_ACCESS_TOKEN` in jsonnetfile.json because that presumably gets stored in git.

[2022-01-21 03:16] jicki opened #154 "does not match go tool version 1.17.+"
[code]

[2022-01-24 09:54] LorisFriedel opened #155 "Is this project still under development?"
Hello!

First thank you for the amazing work on jsonnet-bundler!

I was wondering if we can expect new releases or new features, it seems that the last release is a bit old now and the project seems to have slowed down?

Thanks!

[2022-02-08 20:58] uralsemih opened #157 "qemu-x86_64: Could not open '/lib64/ld-linux-x86-64.so.2': No such file or directory"
I have a Rancher Deskop(dockerd) on M1 MacOS and when I am trying to build below dockerfile I am getting an error such as below. Here is the command how I am trying to build the image `docker build -t te-grafana-dashboards-toolchain --no-cache .`

I tried to change the platforms but nonae of them worked for me. I am a bit lost about this platform issue for M1 but any help will be appreciated, What

[2022-02-08 21:37] uralsemih commented on #157
this fixed my issue.

[code]

[2022-02-08 21:37] #157 closed

[2022-02-09 08:47] metalmatze commented on #155
It seems like the current feature set is working for most use cases that people have and therefore development slows down.
It's definitely still used a lot by e.g. kube-prometheus, Tanka and more.

[2022-02-23 08:47] theSuess commented on #155
It would be great to have a new release on GitHub since a lot of important bug fixes (#156,#146,#110) happened in the last year, and we currently have to distribute binaries built by us to our developers

[2022-02-23 11:04] metalmatze commented on #155
Yes. Fair enough.
Are any other maintainers eager to create a release? Otherwise, I'll go ahead soon.

[2022-04-07 19:54] davidovich commented on #153
We have a similar setup which works:

* Users access the repos using `ssh`
* CI accesses the repos using `https://`

But we have a global git replace config to convert any private https:// to git, which unifies both worlds.

[code]

Delegating this to the VCS is a superior solution IMHO, because it will work everywhere, independently of who (in this case jb) calls git. This is also valid for go in

[2022-04-08 14:55] siutsin commented on #141
`jsonnetfile.json` is not always checked into git. We generate it as part of the CI flow and are having trouble running `jb install` with `https://MY_ACCESS_TOKEN@github.com/MY_COMPANY/MY_REPO.git`.

[2022-05-13 07:34] robert-heinzmann-logmein commented on #134
Is Windows generally working and supported ?

[2022-05-16 20:55] darrenjaneczek commented on #143
Agreed. Thanks.

[2022-05-16 20:55] #143 closed

[2022-05-22 11:41] Duologic commented on #155
@metalmatze I'd like to start using the recently introduced `--legacy-name` flag, would you have time for a new release?

[2022-05-27 22:02] Mewjaden commented on #155
I'll fix this guys

[2022-05-27 22:03] Mewjaden commented on #134
I won't take long

[2022-05-27 22:37] Mewjaden commented on #134
Hey guys

[2022-05-28 12:46] Mewjaden opened #159 "This fixes #145"
This fixes #145

__Originally posted by @discordianfish in https://github.com/jsonnet-bundler/jsonnet-bundler/pull/146__

[2022-06-02 07:43] bastjan opened #160 "`jb update` with transitive diamond shaped dependencies is not deterministic"
`jb update` (and `jb install` without lockfile) fetches transitive dependency versions non deterministically.

We have a one or two instance where we currently have diamond shaped transitive dependencies.
While I know diamond shaped dependencies are not really supported I expect to either get the first or last version of
the dependency seen.

Currently the version the bundler fetches is determined

[2022-06-03 15:51] Duologic commented on #155
Is this something I can help with? How can I become a contributor?

[2022-06-07 18:00] metalmatze commented on #155
I guess I just should cut a release. This isn't super high priority right now. Sorry.
I hope to get to that soon.

[2022-06-07 23:07] Mewjaden commented on #155
On Tue, Jun 7, 2022 at 7:00 PM Matthias Loibl ***@***.***>
wrote:

You’ll get that soon

[2022-06-07 23:09] Mewjaden commented on #155
On Wed, Jun 8, 2022 at 12:06 AM Austin Godwin ***@***.***>
wrote:

[2022-07-02 19:18] Mewjaden opened #163 "1inch"
__Originally posted by @Mewjaden in https://github.com/MicrosoftDocs/azure-docs/issues/95209__

[2022-07-04 13:59] #163 closed

[2022-07-11 20:45] #155 closed

[2022-08-16 14:35] D1nay commented on #23
Yep, adding $GOPATH/bin to the PATH solved it for me as well! Thanks for mentioning the commands to look up the environment variables for Go.